[submodule "packages/connection"]
	path = packages/connection
	url = https://github.com/fedetibaldo/connection-js13kgames2020
[submodule "packages/codepen-assets"]
	path = packages/codepen-assets
	url = https://github.com/fedetibaldo/codepen-assets.git
[submodule "content"]
	path = content
	url = https://github.com/fedetibaldo/fedetibaldo.com-content
