@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
	--font-sans: "Poppins", "sans-serif";
	--font-display: "Noto Emoji Subset", "Work Sans", "sans-serif";

	--breakpoint-*: initial;
	--breakpoint-md: 640px;
	--breakpoint-lg: 960px;
	--breakpoint-xl: 1440px;

	--text-*: initial;
	--text-smallest: 0.875rem;
	--text-smaller: 1rem;
	--text-base: 1.125rem;
	--text-large: 2rem;

	--color-brand-discord: #5865f2;
	--color-brand-itch-io: #fa5c5c;
	--color-brand-linkedin: #2867b2;
	--color-brand-bluesky: #1285fe;

	--background-image-custom-gradient: linear-gradient(
			0deg,
			rgba(255, 255, 255, 0.2),
			rgba(255, 255, 255, 0.2)
		),
		radial-gradient(
			61.39% 61.17% at 77.45% 27.66%,
			#7bc7d7 0%,
			rgba(239, 244, 245, 0.5) 100%
		),
		radial-gradient(
			25.61% 30.11% at 17.07% 34.21%,
			#890cc4 0%,
			rgba(81, 10, 114, 0) 100%
		),
		radial-gradient(
			68.42% 68.42% at 51.22% 25%,
			rgba(116, 32, 32, 0) 0%,
			#da3d3d 100%
		);

	--leading-*: initial;
	--leading-self: 1;
	--leading-tightest: 1.1;
	--leading-tighter: 1.4;
	--leading-base: 1.6;
}

@custom-variant js (&:where(body.js *));

@custom-variant hocus (&:hover, &:focus);
@custom-variant group-hocus (&:is(:where(.group):hover *), &:is(:where(.group):focus *));

@layer base {
	html {
		@apply scheme-dark bg-neutral-900 text-neutral-200 leading-base;
	}
	html,
	body {
		@apply h-full;
	}
	body {
		@apply text-base;
	}
}

@layer base {
	@font-face {
		font-family: "Poppins";
		font-weight: 400;
		src: url("/fonts/Poppins-Regular.ttf");
	}
	@font-face {
		font-family: "Poppins";
		font-weight: 700;
		src: url("/fonts/Poppins-Bold.ttf");
	}
	@font-face {
		font-family: "Noto Emoji Subset";
		font-weight: 700;
		src: url("/fonts/NotoEmoji-Bold-subset.ttf");
	}
	@font-face {
		font-family: "Work Sans";
		font-weight: 700;
		src: url("/fonts/WorkSans-Bold.ttf");
	}
}

@utility container {
	@apply mx-auto px-6;
}

@layer components {
	.title {
		@apply font-display text-neutral-100 font-bold text-large leading-tightest;
	}
}

@layer utilities {
	.text-custom-gradient {
		@apply bg-custom-gradient bg-clip-text text-transparent;
	}
	.prose {
		container: prose;
	}
	.badge {
		/* Revert prose styles */
		@apply no-underline;
		@apply inline-flex text-smaller items-baseline font-bold p-1 rounded-sm leading-self;
		& img {
			/* Revert prose styles */
			@apply m-0;
			@apply w-4 h-4 mr-1 self-end;
		}
	}

	.lines-1 {
		@apply line-clamp-1;
		height: 1lh;
	}
	.lines-2 {
		@apply line-clamp-2;
		height: 2lh;
	}
}
