@import "tailwindcss";

@layer base {
	@font-face {
		font-family: "Figtree";
		src: url("/fonts/Figtree-VariableFont_wght.ttf");
		font-style: normal;
		font-variation-settings: "wght" 400;
	}
	@font-face {
		font-family: "Ubuntu Sans Mono";
		src: url("/fonts/UbuntuSansMono-VariableFont_wght.ttf");
		font-style: normal;
		font-variation-settings: "wght" 400;
	}
	@font-face {
		font-family: "Noto Emoji Subset";
		font-weight: 600;
		src: url("/fonts/NotoEmoji-Bold-subset.ttf");
	}
	@font-face {
		font-family: "Work Sans";
		font-weight: 600;
		src: url("/fonts/WorkSans-SemiBold.ttf");
	}
}

@theme {
	--font-sans: "Figtree", "sans-serif";
	--font-display: "Noto Emoji Subset", "Work Sans", "sans-serif";
	--font-mono: "Ubuntu Sans Mono", "monospace";

	--breakpoint-*: initial;
	--breakpoint-md: 640px;
	--breakpoint-lg: 960px;
	--breakpoint-xl: 1440px;

	--text-*: initial;
	--text-smallest: 0.875rem;
	--text-smaller: 1rem;
	--text-base: 1.125rem;
	--text-larger: 1.5rem;
	--text-largest: 2rem;

	--color-brand-discord: #5865f2;
	--color-brand-itch-io: #fa5c5c;
	--color-brand-linkedin: #2867b2;
	--color-brand-bluesky: #1285fe;

	--background-image-custom-gradient: radial-gradient(
			56.08% 287.5% at 94.75% -66.67%,
			rgba(123, 199, 215, 0.7) 0%,
			rgba(239, 244, 245, 0.35) 100%
		),
		radial-gradient(
			98.76% 540.28% at -1.93% 347.22%,
			rgba(137, 12, 196, 0.6) 0%,
			rgba(81, 10, 114, 0) 100%
		);

	--leading-*: initial;
	--leading-none: 0;
	--leading-self: 1;
	--leading-tightest: 1.125;
	--leading-tighter: 1.4;
	--leading-base: 1.6;
}

@theme inline {
	--color-surface: var(--color-surface);
	--color-contrast-lowest: var(--color-contrast-lowest);
	--color-contrast-lower: var(--color-contrast-lower);
	--color-contrast-low: var(--color-contrast-low);
	--color-contrast-base: var(--color-contrast-base);
	--color-contrast-high: var(--color-contrast-high);
}

@custom-variant js (&:where(body.js *));

@custom-variant hocus (&:hover, &:focus);
@custom-variant group-hocus (&:is(:where(.group):hover *), &:is(:where(.group):focus *));

@layer base {
	html {
		@apply scheme-dark surface;
	}
	html,
	body {
		@apply h-full;
	}
	body {
		@apply text-ds-body;
	}
	* {
		box-decoration-break: clone;
	}
}

@layer components {
	.prose {
		h2 {
			@apply text-ds-headline-2 mt-12 mb-7;
		}

		h3 {
			@apply font-display;
		}

		a {
			@apply underline;
		}

		strong,
		b {
			@apply text-contrast-high;
		}

		ul {
			@apply list-disc;
		}
		ol {
			@apply list-decimal;
		}
		ul,
		ol {
			@apply pl-6;
		}

		p,
		h3,
		h4,
		h5,
		h6 {
			@apply mb-4;
		}

		img,
		pre {
			@apply my-6;
		}

		pre {
			@apply py-4 px-4 -mx-4 lg:px-8 lg:-mx-8;
		}

		:where(p, ul, ol, pre):not(:has(+ :is(p, ul, ol, pre))) {
			@apply mb-12;
		}

		hr {
			@apply mb-12;
		}

		:not(pre) code {
			@apply text-ds-badge bg-contrast-lower/50 p-1 rounded;
		}

		pre {
			@apply text-ds-small;
		}
	}
}

@utility font-* {
	font-variation-settings: "wght" --value(--font-weight- *);
}

@utility container {
	@apply mx-auto;
}

@utility subgrid {
	@apply grid grid-cols-subgrid grid-rows-subgrid;
}

@utility font-display {
	@apply font-semibold;
}

@utility text-ds-headline-1 {
	@apply text-largest leading-tightest font-display text-contrast-high;
}

@utility text-ds-headline-2 {
	@apply text-larger leading-tightest font-display text-contrast-high;
}

@utility text-ds-body {
	@apply text-base leading-base;
}

@utility text-ds-label {
	@apply text-smallest leading-base font-display uppercase;
}

@utility text-ds-badge {
	@apply text-smaller leading-self font-semibold;
}

@utility text-ds-small {
	@apply text-smallest leading-tighter;
}

@utility surface {
	--color-surface: var(--color-neutral-950);
	--color-contrast-lowest: var(--color-neutral-800);
	--color-contrast-lower: var(--color-neutral-700);
	--color-contrast-low: var(--color-neutral-400);
	--color-contrast-base: var(--color-neutral-200);
	--color-contrast-high: var(--color-neutral-100);
	@apply bg-surface text-contrast-base;
}

@utility surface-inverted {
	--color-surface: var(--color-neutral-100);
	--color-contrast-lowest: var(--color-neutral-300);
	--color-contrast-lower: var(--color-neutral-400);
	--color-contrast-low: var(--color-neutral-700);
	--color-contrast-base: var(--color-neutral-900);
	--color-contrast-high: var(--color-neutral-950);
	@apply bg-surface text-contrast-base;
}

@layer utilities {
	.text-custom-gradient {
		@apply bg-custom-gradient bg-clip-text text-transparent;
	}

	.badge {
		/* Revert prose styles */
		@apply no-underline;
		@apply inline-flex items-baseline text-ds-badge p-1 gap-0.5 rounded-sm;
		& img {
			/* Revert prose styles */
			@apply m-0;
			@apply w-4 h-4 self-end;
		}
	}

	.lines-1 {
		@apply line-clamp-1;
		height: 1lh;
	}
	.lines-2 {
		@apply line-clamp-2;
		height: 2lh;
	}
}
